@font-face {
  font-family: trashhand;
  src: url('../fonts/TrashHand.TTF');
}

body {
  background-color: rgb(168, 213, 205);
  padding: 50px;
}

.hidden {
  display: none;
}

.welcome-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer {
  margin-top: 30px;
}

h1, button {
  font-family: trashhand;
}

.welcome-menu a {
  text-decoration: none;
  color: black;
}

button {
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(88, 142, 147);
  font-size: 20px;
}

button:hover {
  background-color: rgb(168, 213, 205);
}

.flashcard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.flashcard {
  width: auto;
  height: auto;
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#flashcard-solo {
  width: 300px;
  height: auto;
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.input-create {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.edit-delete-buttons button {
  height: 25px;
  font-size: 15px;
  padding: 3px;
}