<header>
    <div>
        <h1>flash-me</h1>
    </div>
    <div class="welcome-menu">
        <a href="./flashcards"><button>Show cards</button></a>
        <a href="./flashcards/create"><button>Create cards</button></a>
    </div>
</header>